body {
	font-family: "Roboto Mono", monospace;
	background-color: #000000;
	color: #ffffff;
}

::-moz-selection {
	color: #000000;
	background: #ffffff;
}

::selection {
	color: #000000;
	background: #ffffff;
}

a {
	color: #ffffff;
}

.content {
	line-height: 2em;
	font-size: 1em;
	padding: 1em;
	margin: 0;
}

.heading {
	margin-top: 0;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
}

.menu button {
	font-family: "Roboto Mono", monospace;
	background-color: #000000;
	color: #ffffff;
	display: block;
	padding: 5px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	margin: none;
}

.menu button:hover {
	background-color: #ffffff;
	color: #000000;
}

@media only screen and (min-width: 600px) {
	.content {
		margin: 0;
		padding: 1em;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}