body {
	font-family: "Roboto Mono", monospace;
	background-color: #000000;
	color: #ffffff;
}

::-moz-selection {
	color: #000000;
	background: #ffffff;
}

::selection {
	color: #000000;
	background: #ffffff;
}

a {
	color: #ffffff;
}

.content {
	line-height: 2em;
	font-size: 1em;
	padding: 1em;
	margin: 0;
}

.heading {
	margin-top: 0;
}

@media only screen and (min-width: 600px) {
	.content {
		margin: 10% 25% 0px;
		padding: 1em;
		/* transform: translate(-50%, -50%); */
	}
}

.tab {
	overflow: hidden;
	background-color: #000000;
}

.tab button {
	font-family: "Roboto Mono", monospace;
	background-color: inherit;
	color: #ffffff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
}

.tab button:hover {
	background-color: #000000;
}

.tab button.active {
	background-color: #ffffff;
	color: #000000;
}

.tabcontent {
	display: none;
	border-top: none;
}

.project h4 {
	text-decoration: underline;
}

.project blockquote {
	width: 50%;
}