body {
    background-color: #151515;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-underline-offset: 5px;
    color: inherit;
}

#content {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%);
    font-size: 0.9em;
    width: 45em;
    line-height: 2em;
}

@media only screen and (max-width: 700px) {
    #content {
        position: static;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        width: auto;
        margin: 10%;
    }
}

#footer {
    padding: 5em 0em 2em 0em;
}

#links {
    text-align: right;
    float: right;
}

#links i {
    padding: 0.2em;
}