* {
    box-sizing: border-box;
}

body {
    background-color: #11111b;
    color: #cdd6f4;
    font-family: 'Poppins', sans-serif;
}

a {
    text-underline-offset: 5px;
    color: #89b4fa;
}

h1, h2, h3 {
    color: #89b4fa;
}

img {
    max-width:100%;
    max-height:100%;
}

code {
    background-color: #252525;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em;
    display: block;
}

#content {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%);
    font-size: 0.9em;
    width: 45em;
    line-height: 2em;
}

#footer {
    padding: 5em 0em 2em 0em;
}

#links {
    text-align: right;
    float: right;
}

#links i {
    padding: 0.2em;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px) {
    #content {
        position: static;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        width: auto;
        margin: 10%;
    }

    #footer, #links {
        text-align: center;
        float: none;
    }

    .column {
        width: 100%;
    }
}